:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --color-hover: #ccc;
}


* {
    box-sizing: inherit;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
h1 {
    margin: 0;
}

html {
    /* Hack */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    --height-btn: 42px;
    min-width: 42px;
    height: var(--height-btn);
    text-align: center;
    line-height: var(--height-btn);
    
}

.btn:hover {
    color:var(--color-hover);
    cursor: pointer;
}

.hover:hover {
    color:var(--color-hover);
    cursor: pointer;
}