
.main {
    background-color: #E7ECEF;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header__left {
    margin-left: 24px;
    display: flex;
}

.header__right {
    display: flex;
    font-size: 1.2rem;
}

.header__branch {
    line-height: 4.2rem;
}

.header__date-time {
    display: flex;
    margin-left: 64px;
    font-size: 1.2rem;
}

.date-time__item {
    margin-right: 16px;

}

.header__cust {
    line-height: 4.2rem;
}

.header__cust:hover{
    color: var(--color-hover);
    cursor: pointer;
}

.header__user {
    display: flex;
    align-items: center;
    margin: auto 24px;
}
.header__user:hover {
    color: var(--color-hover);
    cursor: pointer;
}
.user__icon {
}
.user__name {
    margin: auto 8px;

}
.user__img {
    width: 32px;
    height: 32px;
    background-color: #ff8888;
    border-radius: 100%;
}

.nav-bar__items {
    display: flex;
    padding: 12px 24px;
    margin: 4px 0;
    font-size: 1.4rem;
}

.nav-bar__items:hover {
    border-bottom-right-radius: 10px;
    background-color: #274C77;
    margin-right: 24px;
    border-top-right-radius: 10px;
    color: var(--white-color);
}

.nav-bar__items:hover .nav-bar__link{
    color: var(--white-color);

}

.nav-bar__items:last-child {
    margin-top: 20vh;
}

.nav-bar__icon {
    display: block;
    min-width: 24px;
    margin-right: 4px;
}

.weather {
    display: flex;
}