.header {
    display: flex;
    align-items: center;
}
.header__branch {

}

.header__date-time {
    display: flex;
}

.date-time__item {

}

.header__cust {

}

.header__user {
    display: flex;
}

.user__icon {

}
.user__name {

}
.user__img {

}